@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

html,
body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth !important;
    transition: all 0.25s ease;
}

/* width */
::-webkit-scrollbar {
    width: 0.5vmax !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: white !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #363636 !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black !important;
}

::placeholder {
    font-family: 'Poppins', sans-serif;
}

#navbar {
    .navbar-burger {
        span:nth-child(2) {
            left: calc(50%);
            width: 8px;
        }
    }
}

.is-active {
    font-weight: bold;
}

/* .columns {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    .button {
        margin: 0.5rem !important;
    }
}

hr {
    margin: 1rem auto;
    height: 1px;
}

.column {
  flex: 0 0 30%; 
  margin-bottom: 1rem; 
} */

.searchResult {
    a {
        .title {
            text-decoration: underline;
        }
    }
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .image-item img {
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: auto;
  }
  
.typewriter-container {
    width: 100%;
    max-width: 100%;
    min-height: 10vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
.typewriter {
    font-size: 2rem;
    font-family: 'Oxygen', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid rgb(130, 130, 130);
    width: 0;
    max-width: 22ch;
    animation:
      typing1 1.5s steps(18) 1s forwards,
      blink 0.8s step-end infinite;
  }
  
  @keyframes typing1 {
    from { width: 0; }
    to   { width: 26ch; }
  }
  
  @keyframes blink {
    50% { border-color: transparent; }
  }
  
.buttons {
    display: flex;
    flex-wrap: wrap; /* Prevent wrapping */
    gap: 0rem; /* Add spacing between buttons */
    justify-content: flex-start; /* Align buttons to the left */
}

@media (max-width: 768px) {
    .typewriter {
        font-size: 1.5rem; /* Reduce font size for smaller screens */
    }
}



* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #fff;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.custom-title {
  font-family: 'Oxygen', sans-serif; /* Replace 'Roboto' with your desired font */
  font-size: 3rem; /* Adjust the font size if needed */
  font-weight: 400; /* Adjust the font weight */
}

/* Responsive adjustments for mobile screens */
@media screen and (max-width: 768px) {
  /* Adjust the title font size */
  .custom-title {
      font-size: 1.0rem; /* Reduce font size for smaller screens */
      white-space: nowrap; /* Prevent wrapping */
      overflow: hidden;
  }

  /* Adjust the typewriter module */
  .typewriter-container {
      max-width: 95%; /* Ensure the container fits within the screen */
  }

  .typewriter {
      font-size: 0.8rem; /* Reduce font size for smaller screens */
      max-width: 100%; /* Allow the full text to fit */
  }
}