---
layout: compress
title: Portfolios
---

<!DOCTYPE html>
<html>

{% include head.html %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

<body>
    {% include navbar.html %}

    <script>
        document.addEventListener("DOMContentLoaded", function () {
          Fancybox.bind("[data-fancybox='gallery']", {
            // Custom options (optional)
          });
        });
    </script>

    <article class="portfolio-item">
        <div class="container">
            <!--<h1 class="title">{{ page.title }}</h1>
            <img src="{{ page.image }}" alt="{{ page.title }}">
            <p>{{ page.description }}</p> -->
            <div class="portfolio-details">
                {{ content }}
            </div>
        </div>
    </article>

    {% include footer.html %}
</body>

</html>

<script>
  document.addEventListener("DOMContentLoaded", function () {
      const images = document.querySelectorAll(".dynamic-aspect-ratio");

      images.forEach((img) => {
          img.addEventListener("load", () => {
              const aspectRatio = img.naturalWidth / img.naturalHeight;
              const parent = img.parentElement;

              if (aspectRatio > 1) {
                  // Landscape
                  parent.style.aspectRatio = `${img.naturalWidth} / ${img.naturalHeight}`;
              } else if (aspectRatio < 1) {
                  // Portrait
                  parent.style.aspectRatio = `${img.naturalWidth} / ${img.naturalHeight}`;
              } else {
                  // Square
                  parent.style.aspectRatio = "1 / 1";
              }
          });
      });
  });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>